/DecIncr.java
/DecIncrDouble.java
/DoubleSwapSomewhere.java
/Hello.java
/IncrAll.java
/InvDecIncr.java
/InvDecIncrDouble.java
/InvDoubleSwapSomewhere.java
/InvHello.java
/InvIncrAll.java
/InvMultipleParArities.java
/InvNegativeParamWarning.java
/InvParamSum.java
/InvShiftFirstToLastK.java
/InvShiftFirstToLastK_OLD.java
/InvShiftLastToFirstK.java
/InvShiftLastToFirstK_OLD.java
/InvSwapParamHelper.java
/InvSwapSRLlike.java
/MultipleParArities.java
/NegativeParamWarning.java
/ParamSum.java
/ParametricStuffsPlayWith.java
/ParametricStuffsTest.java
/ShiftFirstToLastK.java
/ShiftFirstToLastK_OLD.java
/ShiftLastToFirstK.java
/ShiftLastToFirstK_OLD.java
/SwapParamHelper.java
/SwapSRLlike.java
