/Dup_2.java
/FuncH12PlayWith.java
/FuncH12Test.java
/H12.java
/H12_v2.java
/InvDup_2.java
/InvH12.java
/InvH12_v2.java
/InvP3.java
/InvP3sub.java
/InvT2.java
/InvT2sub.java
/InvT3.java
/InvT3sub.java
/P3.java
/P3sub.java
/T2.java
/T2sub.java
/T3.java
/T3sub.java
